.container {
  margin-top: 20px;
  border: 1px solid #c9ccd0;
  border-radius: 2px;
  padding: 0px;
}
.question {
  display: flex;
  border-bottom: 1px solid #c9ccd0;
  border-top: 1px solid #c9ccd0;
}
.setting {
  padding: 20px;
}
.option {
  padding: 20px;
}

.fa {
  color: grey;
}
.choice > div {
  margin: 10px 0;
  font-size: 14px;
}
.border-class {
  border-right: 1px solid #c9ccd0;
}
.style-container {
  width: calc(100% + 6px);
  position: relative;
  left: -3px;
}
.dropdown-item {
  padding: 0.55rem 1.5rem;
  font-size: 13px;
}
.block {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px 10px;
  font-weight: 600;
  color: grey;
}
.fa-caret-down {
  margin-right: 5px;
}
.selected {
  border: 1px solid #c9ccd0;
  display: flex;
}
.menu-list > div div {
  z-index: 101;
  left: auto !important;
}
.menu-list > div div li {
  font-size: 14px;
  min-height: 40px
}